* {
  margin: 0;
  padding: 0;
}

html {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  position: absolute;
  z-index: -1;
}

body {
  overflow-x: hidden;
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #fff9;
}

header {
  position: fixed;
  background-color: #3c3a39;
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-logo {
  margin-left: 10px;
}

.logo {
  width: 80px;
  height: 34px;
  cursor: pointer;
  overflow: hidden;
  margin-left: 10px;
  filter: drop-shadow(0 0 10px #ff7220);
  animation: rotation 10s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotateY(180deg);
  }

  to {
    transform: rotateY(-360deg);
  }
}

.logo:hover {
  filter: drop-shadow(0 -10px 20px #fff);
  animation: rotation 10s linear infinite;
  transition: transform 0.3s ease-out;
}

.navbar {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

.nav-list {
  background-color: #3e3c3c;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  display: none;
  list-style: none;
}

.multi-post-stories img {
  width: 327px;
  height: 237px;
}

.aboutme-habilities img {
  margin-right: 20px;
}

.mobile-navbar button {
  border: 0;
  background-color: transparent;
}

.mobile-navbar button img {
  border: 0;
}

.mobile-navbar {
  margin-right: 30px;
}

/* Content section */

.headline-section {
  padding-bottom: 200px;
  overflow: hidden;
  padding-top: 120px;
  background-image: url(./images/Illustration.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right bottom 0;
  background-color: #1c1a19;
}

.headline-content {
  padding-left: 5%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
}

.headline-content h1 {
  color: #ff6b00;
  width: 100%;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 64px;
  letter-spacing: 0.37px;
}

.headline-content h2 {
  color: #fff5e1;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.headline-content p {
  color: #fff;
  font-family: 'Inter'sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.links-logos {
  padding-left: 5%;
  margin-top: 1rem;
  width: 55%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}

.icons-social {
  margin-left: 1rem;
  padding: 0;
}

/* works section */
.works-conteiner {
  width: 100%;
  height: 800px;
  background-color: rgb(118, 182, 255);
  display: grid;
}

.works-content {
  margin-left: 1%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subtitle {
  margin-top: 120px;
  margin-bottom: 44px;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  margin-right: 24px;
}

.vector-line {
  margin-bottom: 80px;
  margin-right: 24px;
}

.multi-post-stories {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.subtitle2 {
  margin-top: 24px;
  margin-left: 26px;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
}

.vector01 {
  width: 80%;
  margin-bottom: 80px;
}

.paragraf01 {
  width: 327px;
  height: 147px;
  margin-left: 30px;
  margin-top: 10px;
  font-family: 'Inter'sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.ul-tecnologies {
  margin-left: 30px;
  width: 80%;
  padding: 0;
  display: flex;
}

.ul-tecnologies li {
  margin-right: 12px;
  padding: 10px 12px;
  width: 55px;
  height: 20px;
  border: 1px solid rgb(0, 0, 0);
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter'sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.see-Proyect {
  background-color: #ff6b00;
  color: #fff;
  margin-left: 28px;
  margin-top: 12px;
  margin-bottom: 24px;
  width: 124px;
  height: 48px;
  font-family: 'Inter'sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.see-Proyect:hover {
  color: #f55800;
  background-color: #fff5e1;
}

.see-Proyect:active {
  color: #fff5e1;
  background-color: #f55800;
}

.see-Proyect:disabled {
  color: #5b5957;
  background-color: #fff5e1;
  cursor: not-allowed;
}

/* some works------------------------------ */
.works-conteiner2 {
  overflow: hidden;
  margin-top: 84px;
  padding-left: 30px;
  background-color: #fff;
  width: 100%;
  display: grid;
  margin-bottom: 130px;
}

.works-1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: #fff;
  background-color: rgb(255, 255, 255);
  background-image: url(./images/Mask\ Group.png);
  background-repeat: no-repeat;
  background-size: auto;
  width: 327px;
  border: none;
}

.subtitle-works-1 {
  margin-top: 72px;
  margin-left: 12px;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
}

.paragraf-works-1 {
  width: 250px;
  height: 99px;
  margin-left: 13px;
  margin-top: 10px;
  margin-bottom: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.ul-tecnologies-works-1 {
  margin-left: 15px;
  width: 80%;
  padding: 0;
  display: flex;
  margin-bottom: 30px;
}

.ul-tecnologies-works-1 li {
  background-color: rgba(255, 255, 255, 0.24);
  margin-right: 12px;
  padding: 10px 12px;
  width: 55px;
  height: 20px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter'sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.see-Proyect-works-1 {
  background-color: #ff6b00;
  color: #fff;

  /* margin-top: 32px; */
  margin-bottom: 0;
  width: 100%;
  height: 54px;
  font-family: 'Inter'sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.see-Proyect-works-1:hover {
  color: #f55800;
  background-color: #fff5e1;
}

.see-Proyect-works-1:active {
  color: #fff5e1;
  background-color: #f55800;
}

.see-Proyect-works-1:disabled {
  color: #5b5957;
  background-color: #fff5e1;
  cursor: not-allowed;
}

/* About me section */

.aboutme-container {
  overflow: hidden;
  background-color: #1c1a19;
  width: 100%;
  display: grid;
}

.aboutme {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  color: #fff;
  background-color: #1c1a19;
  width: 100%;
  background-image: url(./images/Frame2.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right bottom 0;
}

.aboutme h2 {
  color: #ff6b00;
  padding-top: 120px;
  padding-left: 20px;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 88px;
}

.aboutme p {
  width: 280px;
  margin-top: 20px;
  padding-left: 20px;
  color: #f4f5f7;
  font-family: 'Inter'sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.vector-aboutme {
  width: 80%;
  height: 1px;
  margin-left: 10%;
}

.resume-button {
  cursor: pointer;
  background-color: #ff6b00;
  color: #fff;
  margin-top: 24px;
  margin-bottom: 209px;
  margin-left: 20px;
  width: 156px;
  height: 48px;
  font-family: 'Inter'sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.resume-button:hover {
  color: #f55800;
  background-color: #fff5e1;
}

.resume-button:active {
  color: #fff5e1;
  background-color: #f55800;
}

.resume-button:disabled {
  color: #5b5957;
  background-color: #fff5e1;
  cursor: not-allowed;
}

/* ------------------------------ */

.aboutme-habilities {
  width: 100%;
  padding-top: 124px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutme-habilities h3 {
  color: #fff;
  margin-right: 40px;
  font-family: 'Inter'sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.ul-language {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  list-style: none;
  font-family: 'Inter'sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
}

.ul-language li {
  margin-bottom: 32px;
  font-family: 'Inter'sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
}

.ul-last {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  list-style: none;
  font-family: 'Inter'sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  margin-bottom: 55px;
}

.ul-last li {
  margin-bottom: 32px;
  font-family: 'Inter'sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
}

/* ----------------------------- */

.aboutme-contact {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.aboutme-contact2 {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.aboutme-contact p {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  width: 81%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  margin-top: 69px;
  margin-bottom: 41px;
}

.aboutme-contact input {
  width: 280px;
  border: none;
  color: #979493;
  margin-bottom: 12px;
  margin-top: 39px;
  border-bottom: 1px solid #dbd8d7;
  padding-bottom: 14px;
}

.aboutme-contact textarea {
  color: #3c3a39;
  border: none;
  background-color: #f8f4f2;
  margin-top: 24px;
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.aboutme-footer {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links-logos3 {
  margin-top: 25px;
  margin-bottom: 47px;
  padding: 0;
  width: 55%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.resume-button2 {
  cursor: pointer;
  background-color: #ff6b00;
  color: #fff;
  margin-top: 24px;
  margin-bottom: 78px;
  width: 156px;
  height: 48px;
  font-family: 'Inter'sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.resume-button2:hover {
  color: #f55800;
  background-color: #fff5e1;
}

.resume-button2:active {
  color: #fff5e1;
  background-color: #f55800;
}

.resume-button2:disabled {
  color: #5b5957;
  background-color: #fff5e1;
  cursor: not-allowed;
}

.vector-shape {
  margin-bottom: 11px;
}

.aboutme-contact-date {
  list-style: none;
  width: 80%;
}

@media screen and (min-width: 768px) {
  header {
    position: fixed;
    background-color: #3c3a39;
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  html {
    width: 100%;
  }

  .container-logo {
    margin-left: 154px;
  }

  .logo {
    width: 90px;
    height: 44px;
  }

  .navbar {
    margin-right: 156px;
    width: 350px;
    background-color: #ff6b00;
    display: flex;
    align-items: center;
  }

  .nav-list {
    width: 350px;
    display: flex;
    align-items: center;
  }

  .nav-list a {
    color: #fff;
    width: 350px;
    font-family: 'Inter'sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
  }

  .headline-section {
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    background-image: url(./images/Illustration-header\ .png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right 0;
  }

  .headline-content {
    padding-left: 0%;
    align-items: flex-start;
    width: 35%;
    height: 80%;
    gap: 24px;
  }

  .headline-content h1 {
    margin-top: 230px;
    color: #f55800;
    width: 100%;
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    letter-spacing: 0.37px;
  }

  .headline-content h2 {
    color: #fff5e1;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
  }

  .headline-content p {
    color: #fff;
    font-family: 'Inter'sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
  }

  .mobile-navbar {
    display: none;
  }

  .links-logos {
    height: 260px;
    margin-top: 350px;
    margin-left: -30px;
    margin-right: 88px;
    display: flex;
    flex-direction: column;
    order: -1;
    justify-content: space-around;
    width: 30px;
  }

  .links-logos img {
    margin-left: 0;
    padding: 0;
  }

  /* Works section  */

  .works-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    margin-left: 10%;
  }

  .works-conteiner {
    overflow: hidden;
    width: 100%;
    height: 800px;
    background-color: rgb(118, 182, 255);
    display: flex;
    flex-direction: row;
  }

  .vector01 {
    width: 60%;
  }

  .multi-post-stories {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #fff;
  }

  .multi-post-stories img {
    width: 720px;
    height: auto;
    padding-left: 10%;
    margin: 0;
  }

  .subtitle2 {
    margin-top: 0;
    margin-left: 26px;
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
  }

  .paragraf01 {
    width: 448px;
    height: 140px;
    margin-left: 30px;
    margin-top: 10px;
    font-family: 'Inter'sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }

  .multi-box {
    display: flex;
    flex-direction: column;
  }

  /* works-conteiner2 */

  .works-conteiner2 {
    overflow: hidden;
    margin-top: 84px;
    background-color: #fff;
    width: 85%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 130px;
    padding-left: 0;
    justify-content: space-between;
    margin-left: 10%;
  }

  .see-Proyect2 {
    background-color: #ff6b00;
    color: #fff;
    margin-top: 32px;
    margin-bottom: 0;
    width: 100%;
    height: 54px;
    font-family: 'Inter'sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    display: none;
  }

  .works-1 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    color: #fff;
    background-color: rgb(255, 255, 255);
    background-image: url(./images/Img\ work-04.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 30%;
    height: 435px;
    border: none;
  }

  .see-Proyect-works-1 {
    background-color: #ff6b00;
    color: #fff;
    margin-top: 32px;
    margin-bottom: 0;
    width: 100%;
    height: 54px;
    font-family: 'Inter'sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    display: none;
  }

  .see-Proyect-works-1:hover {
    color: #f55800;
    background-color: #fff5e1;
  }

  .see-Proyect-works-1:active {
    color: #fff5e1;
    background-color: #f55800;
  }

  .see-Proyect-works-1:disabled {
    color: #5b5957;
    background-color: #fff5e1;
    cursor: not-allowed;
  }

  .subtitle-works-1 {
    width: 90%;
    margin-top: 72px;
    margin-left: 12px;
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
  }

  .paragraf-works-1 {
    overflow: hidden;
    width: 95%;
    height: 28%;
    margin-left: 13px;
    margin-top: 10px;
    margin-bottom: 12px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .ul-tecnologies-works-1 {
    /* background-color: #7a9c60; */
    margin-bottom: 20px;
    margin-left: 15px;
    width: 80%;
    padding: 0;
    display: flex;
  }

  .ul-tecnologies-works-1 li {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.24);
    margin-right: 12px;
    padding: 10px 12px;
    height: 20px;
    width: 15%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter'sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .works-1:hover {
    background-image: url(./images/Img\ work-01.png);
    border: 1px solid #1c1a19;
    justify-content: end;

    .see-Proyect-works-1 {
      display: block;
    }

    .subtitle-works-1 {
      opacity: 0;
    }

    .paragraf-works-1 {
      opacity: 0;
    }

    .ul-tecnologies-works-1 {
      opacity: 0;
    }
  }

  .works-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    color: #fff;
    margin-right: 24px;
    background-image: url(./images/Img\ work-02.png);
    background-repeat: no-repeat;
    background-size: auto;
    width: 369px;
    height: 435px;
  }

  .see-Proyect-works-2 {
    background-color: #ff6b00;
    color: #fff;
    margin-top: 32px;
    margin-bottom: 0;
    width: 100%;
    height: 54px;
    font-family: 'Inter'sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    display: none;
  }

  .see-Proyect-works-2:hover {
    color: #f55800;
    background-color: #fff5e1;
  }

  .see-Proyect-works-2:active {
    color: #fff5e1;
    background-color: #f55800;
  }

  .see-Proyect-works-2:disabled {
    color: #5b5957;
    background-color: #fff5e1;
    cursor: not-allowed;
  }

  .subtitle-works-2 {
    margin-top: 72px;
    margin-left: 12px;
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
  }

  .paragraf-works-2 {
    width: 250px;
    height: 99px;
    margin-left: 13px;
    margin-top: 10px;
    margin-bottom: 12px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .ul-tecnologies-works-2 {
    margin-left: 15px;
    margin-bottom: 20px;
    width: 80%;
    padding: 0;
    display: flex;
  }

  .ul-tecnologies-works-2 li {
    background-color: rgba(255, 255, 255, 0.24);
    margin-right: 12px;
    padding: 10px 12px;
    width: 55px;
    height: 20px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter'sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .works-2:hover {
    background-image: url(./images/Img\ work-01.png);
    border: 1px solid #1c1a19;
    justify-content: end;

    .see-Proyect-works-2 {
      display: block;
    }

    .subtitle-works-2 {
      opacity: 0;
    }

    .paragraf-works-2 {
      opacity: 0;
    }

    .ul-tecnologies-works-2 {
      opacity: 0;
    }
  }

  .works-3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    color: #fff;
    margin-right: 24px;
    background-color: #fff;
    background-image: url(./images/Img\ work-03.png);
    background-repeat: no-repeat;
    background-size: auto;
    width: 369px;
    height: 435px;
  }

  .subtitle-works-3 {
    margin-top: 72px;
    margin-left: 12px;
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
  }

  .paragraf-works-3 {
    width: 250px;
    height: 99px;
    margin-left: 13px;
    margin-top: 10px;
    margin-bottom: 12px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .ul-tecnologies-works-3 {
    margin-left: 15px;
    margin-bottom: 20px;
    width: 80%;
    padding: 0;
    display: flex;
  }

  .ul-tecnologies-works-3 li {
    background-color: rgba(255, 255, 255, 0.24);
    margin-right: 12px;
    padding: 10px 12px;
    width: 55px;
    height: 20px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter'sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .works-3:hover {
    background-image: url(./images/Img\ work-01.png);
    border: 1px solid #1c1a19;
    justify-content: end;

    .see-Proyect-works-2 {
      display: block;
    }

    .subtitle-works-3 {
      opacity: 0;
    }

    .paragraf-works-3 {
      opacity: 0;
    }

    .ul-tecnologies-works-3 {
      opacity: 0;
    }
  }

  .works-4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    color: #fff;
    margin-right: 24px;
    background-color: rgb(181, 32, 197);
    background-image: url(./images/Img\ work-04.png);
    background-repeat: no-repeat;
    background-size: auto;
    width: 369px;
    height: 435px;
  }

  .subtitle-works-4 {
    margin-top: 72px;
    margin-left: 12px;
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
  }

  .paragraf-works-4 {
    width: 250px;
    height: 99px;
    margin-left: 13px;
    margin-top: 10px;
    margin-bottom: 12px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .ul-tecnologies-works-4 {
    margin-left: 15px;
    margin-bottom: 20px;
    width: 80%;
    padding: 0;
    display: flex;
  }

  .ul-tecnologies-works-4 li {
    background-color: rgba(255, 255, 255, 0.24);
    margin-right: 12px;
    padding: 10px 12px;
    width: 55px;
    height: 20px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter'sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .works-4:hover {
    background-image: url(./images/Img\ work-01.png);
    border: 1px solid #1c1a19;
    justify-content: end;

    .see-Proyect-works-2 {
      display: block;
    }

    .subtitle-works-4 {
      opacity: 0;
    }

    .paragraf-works-4 {
      opacity: 0;
    }

    .ul-tecnologies-works-4 {
      opacity: 0;
    }
  }

  .works-5 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    color: #fff;
    margin-right: 24px;
    background-color: rgb(255, 0, 0);
    background-image: url(./images/Img\ work-02.png);
    background-repeat: no-repeat;
    background-size: auto;
    width: 369px;
    height: 435px;
  }

  .subtitle-works-5 {
    margin-top: 72px;
    margin-left: 12px;
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
  }

  .paragraf-works-5 {
    width: 250px;
    height: 99px;
    margin-left: 13px;
    margin-top: 10px;
    margin-bottom: 12px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .ul-tecnologies-works-5 {
    margin-left: 15px;
    margin-bottom: 20px;
    width: 80%;
    padding: 0;
    display: flex;
  }

  .ul-tecnologies-works-5 li {
    background-color: rgba(255, 255, 255, 0.24);
    margin-right: 12px;
    padding: 10px 12px;
    width: 55px;
    height: 20px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter'sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .works-5:hover {
    background-image: url(./images/Img\ work-01.png);
    border: 1px solid #1c1a19;
    justify-content: end;

    .see-Proyect-works-2 {
      display: block;
    }

    .subtitle-works-5 {
      opacity: 0;
    }

    .paragraf-works-5 {
      opacity: 0;
    }

    .ul-tecnologies-works-5 {
      opacity: 0;
    }
  }

  .works-6 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    color: #fff;
    margin-right: 24px;
    background-color: rgb(255, 239, 9);
    background-image: url(./images/Img\ work-03.png);
    background-repeat: no-repeat;
    background-size: auto;
    width: 369px;
    height: 435px;
  }

  .subtitle-works-6 {
    margin-top: 72px;
    margin-left: 12px;
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
  }

  .paragraf-works-6 {
    width: 250px;
    height: 99px;
    margin-left: 13px;
    margin-top: 10px;
    margin-bottom: 12px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .ul-tecnologies-works-6 {
    margin-left: 15px;
    margin-bottom: 20px;
    width: 80%;
    padding: 0;
    display: flex;
  }

  .ul-tecnologies-works-6 li {
    background-color: rgba(255, 255, 255, 0.24);
    margin-right: 12px;
    padding: 10px 12px;
    width: 55px;
    height: 20px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter'sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .works-6:hover {
    background-image: url(./images/Img\ work-01.png);
    border: 1px solid #1c1a19;
    justify-content: end;

    .see-Proyect-works-2 {
      display: block;
    }

    .subtitle-works-6 {
      opacity: 0;
    }

    .paragraf-works-6 {
      opacity: 0;
    }

    .ul-tecnologies-works-6 {
      opacity: 0;
    }
  }

  /* aboutme  */

  .aboutme {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    color: #fff;
    background-color: #1c1a19;
    width: 100%;
    height: auto;
    background-image: url(./images/Frame2B.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right bottom 0;
  }

  .aboutme h2 {
    color: #ff6b00;
    padding-top: 130px;
    padding-left: 20px;
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
  }

  .aboutme p {
    width: 40%;
    margin-top: 20px;
    padding-left: 20px;
    color: #f4f5f7;
    font-family: 'Inter'sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }

  .vector-aboutme {
    margin-left: 10%;
    width: 80%;
    height: 1px;
    margin-top: 170px;
  }

  .resume-button {
    cursor: pointer;
    background-color: #ff6b00;
    color: #fff;
    margin-top: 24px;
    margin-bottom: 90px;
    margin-left: 20px;
    width: 156px;
    height: 48px;
    font-family: 'Inter'sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
  }

  .aboutme-habilities {
    width: 80%;
    margin-left: 10%;
    padding-top: 124px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  /* abutme-contact  */

  .aboutme-contact {
    /* overflow-x: hidden; */
    display: flex;
    flex-direction: row;
    align-items: baseline;
    background-color: #fff;
    padding-left: 5%;
  }

  .aboutme-contact2 {
    /* overflow-x: hidden; */
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #fff;
    width: 60%;
    padding-left: 5%;
  }

  .aboutme-contact p {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    max-width: 34%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    margin-top: 145px;
    margin-bottom: 41px;
  }

  .aboutme-contact input {
    width: 90%;
    border: none;
    color: #979493;
    margin-bottom: 12px;
    margin-top: 39px;
    border-bottom: 1px solid #dbd8d7;
    padding-bottom: 14px;
  }

  .aboutme-contact textarea {
    color: #3c3a39;
    border: none;
    background-color: #f8f4f2;
    margin-top: 24px;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    width: 90%;
  }

  .aboutme-footer {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links-logos3 {
    margin-top: 1rem;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    justify-content: center;
    margin-bottom: 26px;
  }

  .aboutme-footer .vector-last {
    width: 100%;
    margin-top: 154px;
    margin-bottom: 25px;
  }

  .vector-shape {
    display: none;
  }
}

/* mobile menu */

.img-close {
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: 92%;
  top: 1.8%;
}

.img-close:hover {
  filter: drop-shadow(0 0 10px #ff6b00);
}

.mobile-menu {
  color: #fff;
  position: fixed;
  height: 100%;
  width: 0;
  background: #3c3a39;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.4s;
  display: flex;
}

/* Here */

.mobile-link a {
  width: 90%;
  padding-top: 3px;
  padding-bottom: 8px;
  padding-left: 15px;
  text-decoration: none;
  color: #fff;
  display: block;
  margin-top: 22px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  border-bottom: 1px solid #6f6c6b;
}

.mobile-link a:hover {
  filter: drop-shadow(0 0 8px #ff6b00);
  animation: snake 2s linear infinite;
  color: #f55800;
  animation-timing-function: ease-in-out;
}

.image-burger-menu:hover {
  filter: drop-shadow(0 0 8px #ff6b00);
  animation: rotation2 1s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotateY(180deg);
  }

  to {
    transform: rotateY(-360deg);
  }
}

@keyframes rotation2 {
  from {
    transform: rotateY(0deg) scale(1, 1);
  }

  50% {
    transform: rotateX(180deg) scale(1.5, 1.5);
  }

  to {
    transform: rotateX(-360deg) scale(1, 1);
  }
}

@keyframes snake {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(0.9) translateX(-2px) translateY(2px) rotateX(10deg);
    color: #7e2f01;
  }

  50% {
    transform: scale(0.9) translateX(2px) translateY(-1px) rotateX(-10deg);
    color: #3b1702;
    filter: drop-shadow(0 0 20px #fff);
  }

  75% {
    transform: scale(0.9) translateX(1px) translateY(2px) rotateX(10deg);
  }

  100% {
    transform: scale(1) rotateX(0deg);
  }
}

.links {
  display: none;
}

.img-feature {
  display: none;
}

/* mobile menu2 */

.eachWork {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 200px;
  background-color: rgb(26, 30, 19);
}

.eachWork_Content {
  display: block;
  position: relative;
  position: fixed;
  top: 10%;
  width: 90%;
  height: 85%;
  background-color: #fff;
}

.subtitle-pop2 {
  display: none;
}

.subtitle-pop1 {
  display: block;
  position: relative;
  top: 1.5rem;
  height: 82px;
  width: 80%;
  padding-left: 1rem;
  padding-bottom: 35px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.img-X {
  position: absolute;
  top: 2.9rem;
  left: 85%;
  width: 1rem;
  height: 1rem;
}

.tecnologies {
  width: 300px;
  display: flex;
  align-items: start;
  margin-left: 1rem;
  margin-bottom: 24px;
}

.tecnologies li {
  margin-right: 12px;
  padding: 10px 12px;
  height: 20px;
  border: 1px solid rgb(0, 0, 0);
  list-style: none;
  display: inline-block;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  white-space: nowrap;
}

.eachWorkImgContent {
  margin-left: 1rem;
  max-width: 325px;
}

.eachWorkImg {
  width: 95%;
  height: auto;
  max-width: 659px;
  margin-bottom: 24px;
}

.container_inf_button {
  margin-left: 1rem;
  width: 90%;
}

.description-p1 {
  display: block;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 16px;
  max-width: 325px;
}

.description-p2 {
  display: none;
}

.containerEachWorkButton {
  display: flex;
  justify-content: space-between;
  width: 311px;
}

#liveBtn,
#sourceBtn {
  background-color: #ff6b00;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  margin-bottom: 20px;
}

#liveBtn img,
#sourceBtn img {
  margin-left: 15px;
  margin-right: 5px;
}

@media screen and (min-width: 768px) {
  .eachWork_Content {
    width: 80%;
  }

  .img-X {
    left: 95%;
  }

  .subtitle-pop1 {
    display: none;
    background-color: aqua;
    position: relative;
    top: 2rem;
    height: 82px;
    width: 80%;
    padding-left: 1rem;
    padding-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
  }

  .subtitle-pop2 {
    margin-top: 24px;
    display: block;
    top: 2rem;
    height: 82px;
    width: 80%;
    padding-left: 1rem;
    padding-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
  }

  .tecnologies {
    width: 300px;
    display: flex;
    align-items: start;
    margin-left: 1rem;
    margin-bottom: 40px;
  }

  .eachWorkImgContent {
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    width: 50%;
  }

  .containerEachWorkButton {
    display: flex;
    justify-content: space-between;
    width: 308px;
    margin-top: 14px;
  }

  .container_inf_button {
    width: 45%;
  }

  .description-p1 {
    display: none;
    background-color: #ba2eaa;
    max-width: 95%;
  }

  .description-p2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    font-size: 14px;
    line-height: 1.8rem;
    display: block;
    width: 100%;
  }

  .description {
    display: flex;
    align-items: flex-end;
    height: 60%;
    width: 100%;
    overflow-x: hidden;
  }

  .description p {
    max-width: 424px;
  }

  .eachWorkImg {
    width: 100%;
    height: 100%;
    max-width: 659px;
    margin-bottom: 24px;
  }
}

.modal {
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #c1c7c0;
  background-color: rgba(211, 9, 9, 0.6);
  -webkit-animation-name: 'fadeIn';
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

.error-message {
  display: none;
}
